.main-container{

}
.todolist-container{

}
.title-container{
    display: flex;
    justify-content: center;
}
.title{
    color: white;
}
.add-new-button{
    margin: 0rem 0rem 2rem 2rem;
    background: #ffb17a;
    color: #2d3250;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    font-weight: 800;
    cursor: pointer;
}
.form-div-container{
    margin: 0rem 0rem 0rem 2rem;
}
.form-container{
    width: 40rem;
}
.input-area{
    width: 30rem;
    height: 2rem;
    border-radius: 1rem;
    margin: 0rem 0rem 0.5rem 0rem;
    background: #676f8d;
    color: #ffffff;
    padding: 0rem 0rem 0rem 0.5rem;
}
.input-date{
    height: 2rem;
    border-radius: 1rem;
    background: #676f8d;
    color: #ffffff;
    padding: 0rem 0rem 0rem 0.5rem;
    cursor: pointer;
}
.input-area::placeholder{
    color: #ffffff;
}
.submit-button{
    border-radius: 1rem;
    background: #ffb17a;
    color: #2d3250;
    width: 5rem;
    height: 2rem;
    font-weight: 800;
    cursor: pointer;
}
.margin-gap{
    margin: 0rem 0rem 0.5rem 0rem;
}
.display-data-container{
    margin: 0rem 0rem 0rem 2rem;
}
.display-data-title{
    color: white;
}
.display-data{
    display: flex;
    list-style: none;
    gap: 2rem;
    color: #ffffff;
}
.display-message{
    width: 25rem;
}
.cross-specific{
    background: #ffb17a;
    color: #2d3250;
    border-radius: 0rem;
    cursor: pointer;
}
.clear-all-button{
    margin: 0rem 0rem 1rem 0rem;
    background: #ffb17a;
    color: #2d3250;
    border-radius: 1rem;
    padding: 4px 8px 4px 8px;
    font-weight: 700;
    cursor: pointer;
}